.logout-btn{
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    height: 4rem;
    width:4rem;
    border-radius:50%;
    border: none;
}
#profile{
    position:fixed;
    bottom: 14rem;
    right: 2rem;
    border-radius: 50%;
    height:4rem;
    width: 4rem;
}

.upload-btn{
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    height: 2rem;
    width:6rem;
    /* border-radius:50%; */
    border: none;
}
.posts-container{
    height: 100vh;
    width: 100vw;
    background-color:rgb(5, 4, 4);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.video-card{
    color:white;
    height:100%;
    width:30rem;
    margin:auto;
    position: relative;
    scroll-snap-align: start;
    border:1px solid;
}


.like{
    font-size: 40px;
    color: #e21b1b;
    position: absolute;
    bottom: 20vh;
    right: 10px;
}
.comment{
    position:absolute;
    bottom: 14vh;
    right:10px;
    font-size:40px;
}
.username{
    position:absolute;
    bottom:20vh;
    left:20px;
}
.song{
    position:absolute;
    left:20px;
    bottom: 16vh;
    display: flex;
    justify-content: space-evenly;
}
video{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.comment-box{
    border: 1px solid;
    height: 45%;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
}
.comment-box-close-btn{
    position: absolute;
    top: 0;
    border: none;
    right: 0;
    color: #1c6faf;
}
.all-comments{
    margin-top: 4.5vh;
    height: 80%;
    width: 100%;
    border:1px solid black;
    overflow-y:scroll;
}

.comment-form{
    height: 10%;
}

.comment-form input{
    height: 100%;
    width: 80%;
    border: none;
}

.comment-form button{
    height: 100%;
    width: 20%;
    border: none;
    color: #1f68a0;
}

img{
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%; 
}

.all-comments > div{
    display:flex;
    padding: 8px;
} 
.all-comments > div > div{
    margin-left: 20px;
}

.inner-comment{
    top: 1.5rem;
    left: 1rem;
    position: absolute;
}
.comment-pic{
    left: 32px;
    top: -1.5rem;
    position: absolute;
    height: 2rem;
    width: 2rem;
}

.comment-container{
    height: 5rem;
    width: 100%;
    /* border: 2px solid black; */
    color:black;
    position: relative;
    word-break: break-all;
}
.comment-text{
    position:absolute;
    left:3rem;
    height: 4rem;
    width: 24rem;
    /* border: 1px solid black; */
}
.username-comment{
    left: 1rem;
    font-size: 1rem;
    position: absolute;
}